<% layout("/layouts/boilerplate.ejs") %>
    <%- include("../includes/icons.ejs") %>

        <body>
            <!-- Preloader -->
            <div id="preloader">
                <div class="preloader-inner">

                    <div class="middle-line"></div>
                </div>
            </div>
            <!-- <form method="GET" action="/listings/new"> -->
            <!-- <button>Create New Listing</button> -->
            <!-- </form> -->

            <div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1  row-cols-1 ">
                <% for(list of allListings){ %>
                    <div class="card col listings-card">
                        <a href="/listings/<%=list._id%>" class="listing-links">
                            <img src="<%= list.image.url %>" class="card-img-top" alt="Image Not Found"
                                style="height: 18rem;">
                                
                            <div class="card-img-overlay "> </div>
                            <div class="card-body">
                                <b>
                                    <%= list.title%>
                                </b>
                             
                                <div class="card-text">
                                    <p>
                                        &#8377 <%= list.price ? list.price.toLocaleString("en-In") :'N/A'%>
                                        <i class="tax-info"> &nbsp; &nbsp;+18%GST</i>
                                    </p>

                                    
                                    <fieldset class="starability-slot">
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                        <%= list.avgRating %>
                                    </fieldset>
                                </div>

                                </p>
                            </div>
                        </a>
                    </div>
                    <% } %>
            </div>

        </body>